if isFetchError
    span User doesn't exits
else if isLoading
    div.spinner
else
    section.person-details
        header
            h1.person-details-name-title #{person.name}
            h3.person-details-deals-title Deals
        main.content
            ul.person-details-info
                li
                    strong.title Phone
                    span.value #{person.phone[0].value}
                li
                    strong.title E-mail
                    span.value #{person.email[0].value}
                li
                    strong.title Added
                    span.value #{formatDate(person.add_time)}
                li
                    strong.title Open deals
                    span.value #{person.open_deals_count}
                li
                    strong.title Next activity
                    span.value #{getNextActivity(person.next_activity_id)}
                li
                    strong.title Last activity
                    span.value #{getLastActivity(person.last_activity_id)}
            div.person-details-deals
                span.inner-deals-title Deals
                ul
                    li.caption
                        strong.title Title
                        strong.title Sum
                    each deal in deals
                        li
                            span.deal-title #{deal.title}
                            span.deal-price #{deal.value} #{deal.currency}